body{
  fill: rgba(207, 129, 51, 0.374);
}

h4{
  padding-left: 5%;
}

#container{
  background-color: rgb(226, 178, 130);
}

td{
  padding: 5px!important;
}

.logo {
    position: relative;
    /* display: flex; */
    padding-left: 2%;
    /* margin: 25px; */
    font-family: liquorstore-3d;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.2em;
}
.pp{
    position: relative;
    width: 35%;
    vertical-align: middle;;

}

.container{
  height: min-content;
  width: max-content;
  color: antiquewhite;
}

.moving{
  left:35%;
  justify-content: center;
}

.box{
  position: relative;
  width: 28vw;
  height: 27vh;
  border: 2px black solid;
  background-color:antiquewhite;
  overflow: auto;
}

.box-1{
position:absolute;
left: 5%;
display: grid;
justify-content: flex-start;
}

.box-2{
  position:absolute;
  right: 3%;
  justify-content: flex-end;
  padding-left: 2.5%;

}

.box-3{
  display: grid; 
  justify-content: center;
  right: 26%;
}


.bar text {
  fill: black;
  color: white;
}

#bar-chart :hover {
  fill: peru;
}

#pie-chart {
  margin-left: 40%;
  margin-top: 10%;
}

.carousel-caption{
  font-family: liquorstore-3d;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  text-decoration: none;
  display: inline-block;
  line-height: 1.2em;
  color: #333!important;
  text-shadow: none!important;
}

.row {
  text-align: justify;
  min-width: 412px;
  width: 100%; /* it changes by screen size actually */
  height: 290px;
  padding-left: 2.5%;
  justify-content: center;
}

.row:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.col {
  display: inline-block;
  justify-content: space-around!important; 
  width: 30%;
  padding-left: 10%;

}

.carousel-control.left {
  background-image: linear-gradient(to right,rgba(0, 0, 0, .01) 0,antiquewhite);  }

.carousel-control.right {
  background-image: linear-gradient(to right,rgba(0,0,0,.01) 0,antiquewhite);}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
      width: 100%;
    }
  }

  /* Comment réaliser un menu déroulant uniquement en CSS */

* {
  /* On retire toutes les marges pour faciliter la mise en page */
  padding:0;
  margin:0;
}

.dropdown-menu {
  position: absolute;
  padding-left: 10px!important;
  top: 0%!important;
  left: 78px;
  z-index: 1000;
  display: block !important;
  float: left;
  font-size: 14px;
  text-align: left;
  min-width: 0px!important;
  list-style: none;
  border: none!important;
  background-color: transparent!important;
  box-shadow: none !important;

}

.dropdown-menu label {
  
  /* On définit une couleur de fond, de trait et de contour pour le bouton */
  background: antiquewhite;
  color:#fff; /* Fallback pour les navigateurs ne comprenant pas le rgba */
  color:rgba(0,0,0,0.6);
  border:1px solid #fff; /* Fallback pour les navigateurs ne comprenant pas le rgba */
  border:1px solid rgba(0,0,0,0.4);
  
  /* On termine de déclarer les styles typographiques */
  font-weight:bold;
  text-shadow:0 1px 1px rgba(255,255,255,0.2);
  
  /* On position l'élément et on spécifie ses marges */
  display:block;
  float:left;
  position:relative; 
  padding:5px 35px 5px 25px;

  /* On ajoute quelques styles user-friendly */
  cursor:pointer; /* Indique que le bouton est cliquable */
  border-radius:0.3em; /* Valeur passe-partout pour les bords arrondis */
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), /* Reflet en haut du bouton */
        inset 0 10px 30px rgba(255,255,255,0.3), /* Evite un applat de couleur */
        0 0 0 3px rgba(100,100,100,0.1), /* Renfoncement du bouton dans la matière */
        2px 2px 3px rgba(0,0,0,0.1); /* Ombre portée */
  transition:all 0.3s ease-out;

}

/* On met en place le triangle indiquant qu'il s'agit d'un menu déroulant 
par le biais d'un pseudo-élément afin de ne pas utiliser d'image
Dans le cas d'un vieux navigateur, l'icone n'apparaitra pas : tant pis */
.dropdown-menu label:after {
   content: ""; /* Pas de contenu : élément visuel */
   
   /* On place l'élément */
   position: absolute; 
   top: 50%;
   right: 10px;
   
   /* Ci-dessous la méthode pour avoir un triangle en CSS */
   width: 0;
   height: 0;
   border-left: 6px solid transparent;
   border-top: 6px solid rgba(0,0,0,0.6);
   border-right: 6px solid transparent;
   margin-left: -3px;
   margin-top: -3px;

}

/* On met en place un état survolé au menu */
.dropdown-menu label:hover {
  background:rgb(226, 145, 40);
  bottom: 100%!important; /* added this attribute */
}

/* Afin de gérer un élément "onclick" qui perdure en CSS,
on utilise une méthode impliquant une checkbox et le pseudo-selector :checked */
.dropdown-menu input[type="checkbox"] {
  
  /* On position la checkbox hors écran, le label servira de déclencheur */
  position:absolute;
  clip:rect(0,0,0,0); /* Permet de réduire sa zone d'affichage à 0 */
  /* top:9999px; */

}


/* On met en place la liste du menu */
.dropdown-menu ul {

  /* On place le menu */
  position:absolute;
  top:42px;
  
  /* On paramètre ses styles */
  list-style-type:none;
  padding:5px 0;
  font-size:13px;
  border:1px solid #ddd; 
  border-radius:0.3em;
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
  
  /* Et on le cache pour finir */
  display:none;
  
}

/* On met en place une petite flèche au menu pour indique qu'il descend du bouton */
.dropdown-menu ul:after,
.dropdown-menu ul:before {
  content:"";
  height:0;
  width:0;
  position:absolute;
  bottom:100%;
  border:solid transparent;

}

.dropdown-menu ul:after {
  border-bottom-color:#fff;
  border-width:6px;
  left:15%;
  margin-left:-6px;
}

.dropdown-menu ul:before {
  border-bottom-color:#ddd;
  border-width:7px;
  left:15%;
  margin-left:-7px;
  
}

/* On style les liens du menu */
.dropdown-menu a {
  text-decoration:none;
  color:#333;
  display:block;
  padding:5px 15px;
} 

/* On paramètre le dernier élément du menu afin qu'il ait une bordure supérieure
pour le différencier des autres sans pour autant gérer une classe supplémentaire
à l'aide du pseudo-selecteur :last-of-type */
.dropdown-menu li:last-of-type {
  margin-top:4px;
  border-top:1px solid silver;
  border-top:1px solid rgba(0,0,0,0.2);
} 

/* On paramètre un survol aux éléments du menu */
.dropdown-menu a:hover {
  background:rgb(226, 145, 40);
  color:#fff;

} 

.dropdown-menu input[type="checkbox"]:checked ~ ul {
  display:block;

}

.dropdown-menu input[type="checkbox"]:checked ~ label {
  left:1px;
  top:1px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),
        inset 0 10px 30px rgba(255,255,255,0.3),
        0 0 0 3px rgba(100,100,100,0.05);
        background:rgb(226, 145, 40);
} 